body{
    background-image: url(Image/contacts.webp);
    background-repeat: no-repeat;
    background-size: cover;
}



.address{
    display: flex;
    gap: 5%;
    margin-left: 270px;
    margin-top: 3%;
}
.social-medias{
    text-align: right;

}
.social-medias i{
    border: solid;
    padding: 2px;
    border-radius: 12px;
} 
.kitisuru{
    border: solid 1px white;
    padding: 2%;
    width: 17%;
    height: 4%;
    margin-left: 15%;
    margin-top: 2%;
    color: white;
}
.kilimani{
    margin-left: -3%;
    margin-top: 2%;
    border: solid 1px white;
     padding: 2%;
     width: 24%;
   
}
.kilimani h4{
    color: white;
}
.kilimani h2{
    color: white;

}
#logo{
     margin-left: 42%;
    width: 190px;

}
.navigation{
 background-color: black;    
 width: 40%;
 height: 45%;
 padding: 1%;
 border-radius: 62px;
 margin-top: 14%;
 margin-left: 28%;
 margin-top: 3%;

}
.navigation a{
    text-decoration: none;
    color: white;
    margin: 2%;

}
#reservation{
    padding: 15px;
    border-radius: 25px;
    width: 20%;
    background-color: gray;
    color: white;
}

#reservation:hover{
    background-color: white;
    color: black;
    }
.navigation a:hover{
        background-color: gray;
     }
.fa-whatsapp{
   
    font-size: 60px;
    margin-left: 95%;
    margin-top: -16%;
    border: solid;
    border-radius: 38px;
    padding: 5px;
}
.contacts{
    filter: brightness(0.5);
}

