body{
    margin: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    }
.main{
    position: relative;
    display: flex;
    width: 230.4vh;
    height: 966px;
    text-align: center;
    color: white;
}
.main{
    filter: brightness(0.5);
}
.main p{
    font-size: 100%;
    color: white;
    text-decoration: none;
}
.main a{
    text-decoration: none;
    color: white;
}
.main h3{
    margin-top: 45%;    
}

.Kitisuru{
    background-image: url(Image/Welcome.jpg);
    width: 50%;
}
.Kitisuru h3{
    color: red;

}

.Kilimani{
    background-image: url(Image/kilimani.jpg);
    width: 50%;
    background-size: cover;

}
.Kilimani p{
 font-size: 55%;
}
.Kilimani h3{
    margin-top: 50%;
    color: red;
}
.social-medias {
    top: 4%;
    left: 95%;
    font-size: 20px;
    z-index: 1;
    position: absolute;
    position: fixed;

} 

#logo{
    margin-left: 35%;
    width: 15%;
    margin-top: 40px;
    position:absolute;
    position: fixed;
}

.navigation{
    background-color: black;
    padding: 8%;
    position:fixed ;
    width: 180%;
    border-radius: 50px;
    margin-left: -375%;
    margin-right: 20%;
    display: flex;
    gap: 4%;
    text-decoration: none;
    color: white;
    position: relative;
    margin-top: 245%;

}
.navigation a{
    position: relative;
    color:white;
    text-decoration: none;
}
#reservation:hover{
    background-color: white;
    color: black;
    }
.navigation a:hover{
        background-color: gray;
     }
    
#reservation{
    border-radius: 20px;
    height: 50px;
    width: 170%;
    margin-top: -40%;
    background-color: gray;
    color: white;
}
.social-medias i{
    color: white;
    border: solid 2px;
    border-radius: 15px;
    padding:4px;
    
    
}
.navigation #fa-whatsapp{
    position: absolute;
    left: 135%;
    font-size: xx-large;
    border: solid white;
    border-radius: 50%;
    padding: 1%;
    margin-left: 15%;
    }

