
body{
  overflow: hidden;
}

.reviews {
    background-color: black;
    height: 100vh;
  }
 
  .logo-ankole img{
    margin-top: 5%;
    height: 200px;
    width: 350px;
    margin-left: 40%;
  }
 
  #icon-second{
    color: orangered ;
    font-size: 200%;
    left: 75%;
    bottom: 35%;
    position: absolute;
  }
  
  .arrow-one,
  .arrow-two {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 20%;
    margin-left: 20%;
    margin-top: -22px;
    color: rgb(53, 49, 49);
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
 
  .arrow-one {
    position: fixed;
    left: 3%;
    border-radius: 4px 0 0 4px;
  }
  .user-logo img {
    width: 13%;
}
   
   .navigation a{
    margin: 2%;
    text-decoration: none;
    color: white;
    margin-top: -12%;
    
   }
#reservation{
  border-radius: 12px;
  padding: 2px;
  background-color: gray;
  color: white;
}

#reservation:hover{
    background-color: white;
    color: black;
    }
.navigation a:hover{
        background-color: gray;
     }
.navigation #fa-whatsapp{
  position: relative;
  left: 75%;
  color: white;
  font-size: 250%;
  border: solid;
  padding: 3px;
  border-radius: 25px;
}
#insta{
  color: white;
  margin-left: 97%;
}
#face{
color: white;
margin: 8px;
}
.user {
  display: flex;
  width: 40%;
  margin: auto;
  color: white;
  text-align: center;
  line-height: 2;
  font-family: Quicksand;
  font-weight: bold;
}
.navigation{
  background-color: gray;
  margin-top: -6%;
  width: 40%;
  padding: 12px;
  margin-left: 28%;
  border-radius: 30px;

  
 }
 .arrow-two{
  right: 3%;
  border-radius: 4px 0 0 4px;
  position: fixed;
}
#icon-first {
  color:red;
  font-size: 250%;
  right: 71%;
  top: 35vh;
  position: absolute;
}